div(ng-include='"components/navbar/navbar.html"')
header#banner.hero-unit
  .container
    h1 Speak you options
    p.lead Simple web app support creating quick polls
    a.btn.btn-primary.btn-danger.btn-lg(href='/login', ng-hide='currentUser._id') Sign in to make your owned vote
.container
  //Show list of polls - hide when in editing mode
  .row(ng-hide='samplePoll._id')
    h1.col-lg-12.text-center List of polls
    //hide all other poll when routing to a specific poll
    .col-sm-12(ng-repeat='poll in polls', ng-hide='inputPollId ? inputPollId !== poll._id: false')
      h3.text-info.col-sm-12.text-center {{poll.name}}
      p.text-success.text-center Author: {{poll.user.name}}
      form.col-sm-6.list-group
        .form-group(ng-repeat='option in poll.options track by $index')
          label
            input(type='radio', name='{{poll.name + "_options"}}', value='{{option._id}}', ng-model='vote.select', ng-click='optionSelect(poll)')
            |{{" " + option.name}}

        button.btn.btn-danger(type='button', ng-click='deletePoll(poll)', ng-disabled='currentUser._id!==poll.user._id', data-toggle='tooltip', title='Delete poll')
          span.glyphicon.glyphicon-trash
        = ' '
        button.btn.btn-primary(type='button', ng-click='editPoll(poll)', ng-disabled='currentUser._id!==poll.user._id', data-toggle='tooltip', title='Edit poll')
          span.glyphicon.glyphicon-edit
        //enable only when click on a option
        //TODO: uncheck after vote
        = ' '
        button.btn.btn-success(type='button', ng-disabled='voteBtn[poll._id].canNotSubmit', ng-click='updatePollData(poll)', data-toggle='tooltip', title='Make a vote')
          span.glyphicon.glyphicon-thumbs-up
        = ' '
        a.btn.btn-twitter(href='{{"https://twitter.com/intent/tweet?text=" + "You should try this poll:" + absUrl + poll.user + "/" + poll._id}}', data-toggle='tooltip', title='Share poll')
          span.fa.fa-twitter
      .show-chart.col-sm-6
        //TODO: refresh label correctly if change option name
        canvas.chart.chart-bar(id='{{poll._id}}', chart-data='data[poll._id].data', chart-labels='data[poll._id].labels')

  //Form to input new poll
  //only show when login
  .row(ng-show='currentUser._id')
    .col-lg-12
      h1.page-header.text-center Add or Update polls
      p.lead.text-info Empty an option if you want to delete it
    form.col-sm-6.vote-form(ng-submit='addPoll()')
      .form-group
        label Please input new poll
        input.form-control(type='text', placeholder='{{samplePoll.name}}', ng-model='newPoll.name')
      .form-group
        label Poll options
        input.form-control(type='text', ng-repeat='option in samplePoll.options track by $index', ng-model="newPoll.options[$index].name", placeholder="{{option.name}}")
      button.btn.btn-danger(type='submit', ng-disabled='samplePoll._id', data-toggle='tooltip', title='Add new poll')
        span.glyphicon.glyphicon-plus
      = ' '
      button.btn.btn-primary(type='button', ng-click='moreOption()', data-toggle='tooltip', title='Add more options')
        span.glyphicon.glyphicon-pencil
      = ' '
      button.btn.btn-success(type='button', ng-click='updatePoll(samplePoll)', data-toggle='tooltip', title='Save poll')
        span.glyphicon.glyphicon-floppy-disk
      = ' '
      button.btn.btn-info(type='button', ng-click='resetForm()', data-toggle='tooltip', title='Reset/Cancel')
        span.glyphicon.glyphicon-refresh

footer.footer
  .container
    p
      | By THCN
