div(ng-include='"components/navbar/navbar.html"')
header#banner.hero-unit
  .container
    h1 Speak you options
    p Sign in to begin
.container
  //Show list of polls
  .row
    .col-lg-12
      h1.page-header List of polls
    .col-sm-4.col-xs-6(ng-repeat='poll in polls')
      form.list-group
        label {{poll.name}}
        .form-group(ng-repeat='option in poll.options track by $index')
          label
            input(type='checkbox', name='{{poll.name + "_options"}}', value='{{"test" + $index}}', ng-model='voted')
            |{{" " + option.name}}
        button.btn.btn-danger(type='button', ng-click='deletePoll(poll)') Delete
        button.btn.btn-primary(type='button', ng-click='doPoll(poll)' ) Vote

  //Form to input new poll
  .row
    .col-lg-12
      h1.page-header Add new polls
    form.col-sm-6.vote-form(ng-submit='addPoll()')
      .form-group
        label Please input new poll
        input.form-control(type='text', placeholder='Which drink do you prefer?', ng-model='newPoll.name')
      .form-group
        label Poll options
        input.form-control(type='text', ng-repeat='option in options track by $index', ng-model="newPoll.options[$index]", placeholder="{{option}}")
      button.btn.btn-primary(type='button', ng-click='addOption()') More options
      button.btn.btn-danger(type='submit') Add new

footer.footer
  .container
    p
      | By THCN
